.loader,
.loader:after {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border: 5px solid rgba(78, 192, 228, 0.2);
  border-left-color: rgb(78, 192, 228);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
