.tables {
    margin-top: 37px;
    display: flex;
}
.table,
.panel {
    flex-shrink: 0;
    width: calc(50% - 12px);
}
.panel {
    margin-left: 24px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 22px 18px 0;
}
.subtitle {
    padding-right: 18px;
}
.subHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 18px;
    margin-bottom: 10px;
}
.chartTitle {
    display: block;
    text-align: center;
    margin-bottom: 4px;
}
.title {
    /*padding-top: 22px;*/
    /*padding-left: 18px;*/
}
.subtitleDate {
    width: 240px;
}
.loaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.topTable {
    width: 100%;
}
.topTableHead {
    font-weight: 500;
}
.topTableHead .topTableCol {
    font-size: 14px;
}

.topTableRow {
    padding: 3px 10px;
}

.topTableCol {
    width: 80px;
    font-size: 13px;
    color: #000000;
}
.topTableColWide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #000000;
}
.topTableBody {

}
.topTableBody .topTableRow:nth-child(odd) {
    background-color: rgba(238, 242, 244, 1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.topTable td {
    padding: 10px 5px;
}
.topTable td:first-child {
    padding-left: 18px;
}
.topTable td:last-child {
    padding-right: 18px;
}
.topTable .topTableHead td {
    padding-top: 6px;
    padding-bottom: 6px;
}
.topTableEmpty {
    text-align: center;
    background-color: rgba(238, 242, 244, 1);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 35px;
}
.chartHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
