.post-menu {
  position: relative;
  z-index: 10;
  margin-left: 3px;
  &:hover {
    .post-menu__wrap {
      position: inherit;
      border-radius: 4px;
      padding: 5px 0;
      opacity: 1;
      transition: all 0.1s linear;
      background: #fff;
      background-position: 0;
      background-repeat: no-repeat;
      background-size: 64px 128px;
      border-radius: 10px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border-radius: 4px;
    cursor: pointer;
    svg {
      transform: rotate(90deg);
      display: block;
      fill: grey;
    }
  }
  &__wrap {
    position: inherit;
    border-radius: 4px;
    padding: 5px 0;
    opacity: 1;
    transition: all 0.1s linear;
    background: #fff;
    background-position: 0;
    background-repeat: no-repeat;
    background-size: 64px 128px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    align-items: center;
  }
  &__item {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 0;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    color: #a6a6a6;
    &:hover {
      color: #1890ff;
    }
    &-tonal{
      display: none;
      span{
        margin-right: 5px;
      }
    }
  }
}

.post-menu__trust:hover .post-menu__item-tonal{
  display: flex;
  width: inherit;
  position: relative;
  margin-top: -38px;
  margin-left: -76px;
  background-color: #fff;
}
.post-menu__item span[role="img"]{
  position: relative;
  width: 32px;
  height: 32px;
  background: #f6f7fa;
  border-radius: 50%;
  border: 0;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  color: #a6a6a6;
  z-index: 10;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
