.container {
  display: flex;
  height: 100%;
}

.panel {
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 320px;
}

.error {
  width: 100%;
  margin: 0;
}
.flex{
  display: flex;
  justify-content: space-around;
}

.btn{
  font-size: 14px;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: #4ec0e4;
    background: #fff;
    border-color: #4ec0e4;
    line-height: 1.5715;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    text-decoration: none;
    text-align: center;
}

  .btn:hover{
    color: white;
  }
