.change-post-tonal-modal {
    height: 200px;
}

.change-post-tonal-modal__wrap {
     width: 200px;
     height: 100%;
     margin: 0 auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
.change-post-tonal-modal__item {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #bbcfda, -1px -1px 4px white;
}
.change-post-tonal-modal__item:not(:last-child) {
     margin-bottom: 10px;
 }
.change-post-tonal-modal__item.active {
    color: #fff;
    background: #d6dfe6;
    box-shadow: 3px 3px 6px #bbcfda, -3px -3px 6px white;
}
.change-post-tonal-modal__item.active.positive {
     background: #15CF49;
 }
.change-post-tonal-modal__item.active.negative {
     background: #E42E34;
 }
